@charset "UTF-8";

/*PALETA DE CORES ESTILO MONOCROMÁTICO
--corA: #66000C;
--corB: #EA4659;
--corC: #E50019; PRINCIPAL
--corD: #661F27;
--corE: #B30015;
*/

/*TYPICAL DEVIDE BREAKPOINTS
Pequenas Telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Telas Grandes: Acima de 1200px
*/

@media screen and (min-width: 768px) and (max-width: 992px) {
    /*CONFIGURAÇÃO TABLET*/
    
    body {
        background-image: linear-gradient(to top, var(--corB), var(--corD));
    }
    
    section#login {
        width: 80vw;
        height: 65vh;
    }

    section#login > div#imagem {
        float: left;
        width: 50%;
        height: 100%;
    }

    div#imagem > div#logo {
        width: 25vw;
        height: 25vh;
        top: 30%;
    }

    section#login > div#formulario {
        float: left;
        width: 50%;
        height: 100%;
    }

    form > input[type=submit]{
        margin-top: 14px;
    }

    form > a {
        margin-top: 14px;
    }
}

@media screen and (min-width: 992px) {
    /*CONFIGURAÇÃO TELAS GRANDES*/
    
    body {
        background-image: url(../imagens/capa.jpg);
        background-repeat: no-repeat;
        background-position: center bottom;
        background-attachment: fixed;
        background-size: cover;
    }
    
    section#login {
        width: 40vw;
        height: 40vh;
    }

    section#login > div#imagem {
        display: none;
    }

    #formulario h1 {
        text-align: center;
        font-size: 2em;
    }

    #formulario p {
        font-size: 1.2em;
    }

    #iuser, #ipass{
        width: 250px;
        height: 25px;
    }

    form > input[type=submit]{
        margin-top: 14px;
        width: 286px;
    }

    form > a {
        width: 286px;
        margin-top: 14px;
    }
}