@charset "UTF-8";

/*PALETA DE CORES ESTILO MONOCROMÁTICO
--corA: #66000C;
--corB: #EA4659;
--corC: #E50019; PRINCIPAL
--corD: #661F27;
--corE: #B30015;
*/

/*TYPICAL DEVIDE BREAKPOINTS
Pequenas Telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Telas Grandes: Acima de 1200px
*/

@media screen and (min-width: 768px) and (max-width: 992px) {
    
    body {
        background-image: linear-gradient(to top, var(--corB), var(--corD));
    }
    
    section#login {
        width: 80vw;
        height: 65vh;
    }

    section#login > div#imagem {
        float: left;
        width: 50%;
        height: 100%;
    }

    div#imagem > div#logo {
        width: 25vw;
        height: 25vh;
        top: 30%;
    }

    section#login > div#formulario {
        float: left;
        width: 50%;
        height: 100%;
    }
}

@media screen and (min-width: 992px) {
    
    body {
        background-image: url(../imagens/capa.jpg);
        background-repeat: no-repeat;
        background-position: center bottom;
        background-attachment: fixed;
        background-size: cover;
    }
    
    section#login {
        width: 40vw;
        height: 40vh;
    }

    section#login > div#imagem {
        display: none;
    }

    section#login > div#formulario {
        float: left;
        width: 50%;
        height: 100%;
    }
}